/* body html and anchor styles */
html, body { 
  height: 100%; 
  font-family: 'Roboto Mono', cursive !important;
}

.logo{ 
	position:fixed; 
	top:20px; 
	left:25px; 
} 
a {
  text-decoration: none !important;
  color: rgb(245, 119, 119);
  font-size: 20px;
}
.right { 
	position:fixed; 
  width: auto;

	top:20px; 
	right:25px; 

} 
.nextto {
  display: inline-block;
  width: 100px;
  position: absolute; right: 40px;

}
.nextto2 {
  display: inline-block;
  width: 100%;
  position: absolute; right: 50px;

}
a:hover{
  color: #ff7b00;
  text-decoration: none;
}
body {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  justify-content: center;
 
 }
/* BACKGROUND & DISPLAY */
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
}
.background2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
  background-color: #202225;
}
.background3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
  background-color: #5865f2;
}

/* font & text styles */
.lead{
  color: white;
}

p{
  color: white;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
h4{
  color: rgb(233, 87, 87);
  font-size: 20px;
}
h5{
  color: rgb(255, 255, 255);
  font-size: 20px;
}

h3{
  color: white;
}
*{
  align-items: center;
  text-align: center;
  
}
/*fa fa icons*/
.icons-social i{
  padding: 10px;
  font-size: 40px;
}
.icons-social a{
  margin: 9px;
  color: rgb(255, 79, 59);
}
.icons-social a:hover{
  color: #ff7b00;
  text-decoration: none !important;
  
}
