@import url('https://fonts.googleapis.com/css?family=Catamaran:800|Work+Sans:300&display=swap');

html, body {
	min-height: 100%;
	background-color: black;

	background-image: url("../img/bg1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar {
	border-radius: 50%;

	max-width: 150px;
	max-height: 150px;

	width: auto;
	height: auto;
}
.imagemax {
	max-width: 450px;
	max-height: 450px;

	width: auto;
	height: auto;
}
.loadingicon {
	border-radius: 50%;

	max-width: 150px;
	max-height: 150px;

	width: auto;
	height: auto;
    margin-top: 24px;
	margin-bottom: 20px;
}

.container {
	display: flex;
	flex-direction: row;

	animation: zoomIn 0.4s ease-in-out;
}


.box {
	width: 300px;
	color: white;
	margin-right: 50px;
	height:auto;

	display: flex;
	flex-direction: column;
}

.headerDivider {
    border-right: 1px solid #808080; 
    height: auto;
    margin-right: 50px;
}
.sectionDivider {
    border-bottom: 1px solid #808080; 
    height: auto;
    margin-top: 20px;
	margin-bottom: 20px;
}
.chunkDivider {
    border-bottom: 1px solid #808080; 
    height: auto;
    margin-top: 100px;
	margin-bottom: 100px;
}

.link {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.2rem;

	transform: scale(1);
	transition: transform 0.1s linear;

	text-decoration: none;

	color: white;
}

.link:hover {
	transform: scale(1.05);
	transition: transform 0.1s linear;
	text-shadow: 0px 0px 5px rgb(241, 151, 129);
	
}
p{
	color: white;
	font-family: 'Courier', sans-serif;
	font-size: 0.8rem;
	user-select: none;
}
p{
	color: white;
	font-family: 'Courier', sans-serif;
	font-size: 0.8rem;
	user-select: none;
}
h{
	color: rgba(255, 255, 255, 0.493);
	font-family: 'Optima', sans-serif;
	font-size: 0.8rem;
	font-weight: 100;
	user-select: none;
}
.bio {
	font-family: 'Work Sans', sans-serif;
	font-size: 1rem;
	margin-bottom: 10px;
}

.heading {
	font-family: 'Catamaran', sans-serif;
	font-size: 3rem;
	user-select: none;
}
.subheading {
	font-family: 'Catamaran', sans-serif;
	font-size: 2rem;
	user-select: none;
}
.subheading2 {
	font-family: 'Catamaran', sans-serif;
	font-size: 1rem;
	user-select: none;
	text-align: center;
}
.headingGreen {
	font-family: 'Catamaran', sans-serif;
	font-size: 3rem;
	user-select: none;
	color: rgb(9, 172, 9);
}
.headingRed {
	font-family: 'Catamaran', sans-serif;
	font-size: 3rem;
	user-select: none;
	color: rgb(172, 9, 9);
}

.lowercaps {
	font-family: 'Catamaran', sans-serif;
	font-size: 0.7rem;
}
.normalcaps {
	font-family: 'Catamaran', 'Open Sans';
	font-size: 1rem;
}
.textpara {
	font-family: 'Work Sans', sans-serif;
	font-size: 1rem;
	font-weight: 100;
	color: rgb(163, 163, 163);
}

.quote {
	font-family: 'Work Sans', sans-serif;
	margin-top: 20px;
	font-size: 0.6rem;
	text-align: justify;
}

.quoteauthor {
	font-family: 'Work Sans', sans-serif;
	font-size: 0.6rem;
	text-align: right;
}

.box-avatar {
	justify-content: center;
	align-items: center;
	text-align: justify;
}

#overlay {
	position: fixed;
	display: none;

	left: 0;
	top: 0;

	background-color: black;

	width: 100%;
	height: 100%;

	cursor: pointer;
}

.dimpage {
	display: block !important;
	animation: dimPage 0.4s ease-out;
	animation-fill-mode: forwards;
}

.undimpage {
	display: block !important;
	animation: undimPage 0.4s ease-out;
	animation-fill-mode: forwards;
}

#popup {
	position: fixed;
	display: none;
	flex-direction: column;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -100%);

	width: 400px;
	height: 200px;

	background-color: white;

	border-radius: 10px;

	box-shadow: 0px 0px 12px #7a7a7a;

	animation: showPopup 0.6s ease-out;
	animation-fill-mode: forwards;
}

.showpopup {
	display: flex !important;
}

.hidepopup {
	display: flex !important;

	animation: hidePopup 0.6s ease-out !important;
	animation-fill-mode: forwards  !important;
}

.popupheader {
	display: flex;

	background: linear-gradient(to right bottom, #ff3300, #26b32d);
	background-size: 200% 200%;
	flex-grow: 2;

	border-radius: 0px;
	border-color: black;

	animation: gradientScroll 5s ease infinite;

	justify-content: center;
	align-items: center;
}

.popupheading {
	font-family: 'Catamaran', sans-serif;
	font-size: 2em;
	color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
	.container {
		display: flex;
		flex-direction: column;
		margin-right: 0px;
		margin-bottom: auto;
	}

	.headerDivider {
		border-bottom:1px solid #808080; 

     	margin-right: 0px;
	}

	.box {
		width: 300px;
		color: white;

		display: flex;
		margin-right: 0px;
	}

	#popup {
		width: 90%;
	}

	.popupheading {
		font-size: 2em;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes dimPage {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.7;
	}
}

@keyframes undimPage {
	from {
		opacity: 0.7;
	}
	to {
		opacity: 0;
	}
}

@keyframes showPopup {
	from {
		opacity: 0;
		transform: translate(-50%, -100%);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

@keyframes hidePopup {
	from {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
	to {
		opacity: 0;
		transform: translate(-50%, -100%);
	}
}

@keyframes gradientScroll {
    0% {
    	background-position:0% 18%
    }
    50% {
    	background-position:100% 83%
    }
    100% {
    	background-position:0% 18%
    }
}
/*
   Animation example, for spinners
*/
.animate-spin {
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	display: inline-block;
  }
  @-moz-keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
  }
  @-webkit-keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
  }
  @-o-keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
  }
  @-ms-keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
  }
  @keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
  }
  